@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,500i');
/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.caja {
  width: 80%;
  height: 350px;
  background-color: #ff6f00;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  color: whitesmoke;
  border-radius: 20px;
  font-size: 1.2em;
}

.icon{
  font-size: 3.5em;
  color: #263238;
}

.anim1{
  animation-name: girar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.anim2{
  position: relative;
  top: -120px;
  animation-name: fly;
  animation-duration: 7s;
  /*animation-delay: 5s;*/
  animation-iteration-count: 6;
  animation-direction: alternate;
}


/*ANIMACIONES*/
@keyframes girar {
  from{
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}

@keyframes fly {
  0%{
    top: -120px;
    left: 0;
    transform: rotateZ(90deg);
    opacity: 0;
  }

  15%{
    top: 0;
    left: 0;
    transform: rotateZ(0);
    opacity: 1;
  }

  25%{
    top: -20px;
    left: -200px;
    transform: rotateZ(0);
    opacity: 1;
  }

  30%{
    top: 0;
    left: -100px;
    transform: rotateZ(0);
    opacity: 1;
  }

  40%{
    top: 20px;
    left: -200px;
    transform: rotateZ(0);
    opacity: 1;
  }

  50%{
    top: 0px;
    left: -0px;
    transform: rotateZ(0);
    opacity: 1;
  }

  60%{
    top: 0px;
    left: -200px;
    transform: rotateX(0);
    opacity: 1;
  }

  100%{
    top: 0px;
    left: 200px;
    transform: rotateX(1440deg);
    opacity: 0;
  }

}
