@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,500i');
/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2{
  text-align: center;
  color: #34495e;
}

h1 {font-size: 2.7em;}

h2 {font-size: 1.7em;}

.btn-viejo{
  width: 200px;
  background-color: #2980b9;
  border: 5px solid #34495e;
  padding: 20px;
  text-align: center;
  color: whitesmoke;
  font-size: 1.2em;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
}

.btn-nuevo{
  width: 100%;
  box-sizing: border-box;
  background-color: #e74c3c;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 20px;
  color: whitesmoke;
  margin-bottom: 20px;
  border: 2px solid #c0392b;
  text-decoration: none;
  box-shadow: 2px 2px 2px #2c3e50;
  text-transform: uppercase;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
}

.btn-nuevo:hover{
  background-color: transparent;
  color: #c0392b;
  box-shadow: 2px 5px 2px #2c3e50;
}

.azul {
  background-color: transparent;
  border-color: #2980b9;
  color: #2980b9;
}

.azul:hover {
  background-color: #3498db;
  color: whitesmoke;
}

.sprite {
  width: 84px;
  height: 84px;
  display: block;
  background-image: url(../img/mini-social-icons.png);
  margin-bottom: 70px;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
}

.sprite.flikr{background-position: -84px -84px;}
.sprite.flikr:hover{background-position: -84px -168px;}
.sprite.flikr:focus{background-position: -84px -252px;}
