body {
  padding: 0;
  margin: 0;
  font-family: arial;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.caja {
  width: 230px;
  height: 230px;
  background-color: #d35400;
  margin-bottom: 20px;
  display: inline-block;
  color: whitesmoke;
  font-size: 80px;
  text-align: center;
  line-height: 170px;
  padding: 20px;
  border: 10px solid #34495e;
  box-sizing: border-box;
  border-radius: 50%;
}

.borde {
  width: 230px;
  height: 230px;
  display: inline-block;
  margin-bottom: 20px;
}

.box {
  background-color: #2980b9;
  font-family: arial;
  color: whitesmoke;
  font-size: 80px;
  text-align: center;
  line-height: 170px;
  padding: 20px;
  border: 10px dotted #2c3e50;
  border-radius: 50%;
}

.cajita{
  width: 240px;
  height: 240px;
  background-color: #e74c3c;
  margin-bottom: 20px;
  padding: 20px;
  border: 10px solid #2c3e50;
  box-sizing: border-box;
  font-family: arial;
  text-align: center;
  font-size: 80px;
  line-height: 180px;
  color: whitesmoke;

  display: inline-block;
  float: left;
}

.triangulos {
  clear: both;
}

.tri1, .tri2, .tri3 {
  width: 0;
  height: 0;
  border-left: 160px solid transparent;
  border-right: 160px solid transparent;
  border-bottom: 320px solid #8e44ad;
  color: transparent;
  float: left;
}
