.lienzo {
  position: relative;
  width: 550px;
  height: 625px;
  /*border: 1px dotted black;*/
  margin: 0 auto;
}

.base {
  width: 270px;
  height: 300px;
  background-color: #34495e;
  position: absolute;
  bottom: 0;
  left: 25%;
}

.puerta {
  width: 50px;
  height: 100px;
  background-color: brown;
  position: absolute;
  bottom: 0;
  left: 41%;
}

.pomo {
  width: 15px;
  height: 15px;
  background-color: silver;
  position: absolute;
  border-radius: 50%;
  right: 2px;
  top: 55%;
}

.ventana {
  width: 50px;
  height: 50px;
  background-color: whitesmoke;
  box-sizing: border-box;
  border: 7px solid brown;
  position: absolute;
}

.ven1{
  top: 50px;
  left: 10%;
}

.ven2{
  top: 50px;
  right: 10%;
}

.techo {
  width: 0;
  height: 0;
  border-left: 136px solid transparent;
  border-right: 136px solid transparent;
  border-bottom: 190px solid brown;
  position: absolute;
  top: 135px;
  left: 136px;
}

.chimenea {
  width: 50px;
  height: 100px;
  background-image: url(../img/brick.jpg);
  position: absolute;
  top:185px;
  left: 307px;
  z-index: -1;




}
