@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,500i');
/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body{
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clase1 {
  width: 80%;
  background-color: #9b59b6;
  padding: 20px;
  border-top: 10px solid #34495e;
  border-bottom: 10px dotted #e74c3c;
}

.clase1 h1{
  font-size: 3em;
  text-align: center;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.clase1 img {
  width: 200px;
  height: auto;
}

.clase1 p {
  font-size: 17px;
  font-style: italic;
  color: white;
  text-align: justify;
}

#iden1 {
  background-color: #16a085;
}

.clase2 {
  width: 40%;
  height: 350px;
  background-color: #e67e22;
  margin-top: 10px;
  border: 15px dashed #2c3e50;
  padding: 20px;
}

.clase2 a{
  font-size: 2em;
  color: white;
  text-decoration: none;
}

.clase2 p {
  font-size: 14px;
  text-align: center;
  margin-top: 60px;
  color: white;
}

.azul {
  background-color: #2980b9;
}

.azul {
  background-color: red;
}
