@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,500i');
/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #ecf0f1;
  text-align: center;
  padding: 20px;
  color: #2980b9;
}

header img {
  width: 250px;
  height: auto;
}

header h1 {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  font-size: 3em;
}

header p {
  font-size: 14px;
  text-align: center;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#textos {
  background-color: #bdc3c7;
}

.texto{
  width: 32%;
  display: inline-block;
  font-size: 13px;
  color: #2980b9;
  padding: 3px;
  text-align: center;
}

footer p {
  text-align: center;
  color: #2980b9;
  font-size: 15px;
}
