/*XS*/
@media (max-width: 767px) {
  h1, h2 {
    color: purple;
  }

  h1 {
    font-size: 1.8em;
  }
  h2{
    font-size: 1.5em;
  }
}

/*SM*/
@media (min-width: 768px) and (max-width: 991px){
  h1, h2 {
    color: orange;
  }

  h1 {
    font-size: 2.2em;
  }
  h2{
    font-size: 1.8em;
  }
}

/*MD*/
@media (min-width: 992px) and (max-width: 1199px){
  h1, h2 {
    color: green;
  }

  h1 {
    font-size: 2.8em;
  }
  h2{
    font-size: 2.4em;
  }
}

/*LG*/
@media (min-width: 1200px){
  h1, h2 {
    color: blue;
  }

  h1 {
    font-size: 3.5em;
  }
  h2{
    font-size: 2.8em;
  }
}
