.column{
  width: 20%;
  float: left;
  display: block;
  transition: all 300ms ease;
}

.column:hover{
  box-shadow: 2px 2px 2px black;
  transform: scale(1.15, 1.15);
}

@media (max-width: 767px) {
  .column{
    width: 50%;
  }
}
