@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,500i');
/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
  font-family: 'Open Sans', sans-serif;
  color: #34495e;
}

h1{font-size: 3em;}
h2{font-size: 1.8em;}
h3 {font-size: 1.3em;}

.centrar-textos{text-align: center;}
.lead{
  font-size: .9em;
  color: #2c3e50;
  font-weight: 300;
}

.img-adaptable{
  max-width: 100%;
  height: auto;
}

.img-redonda{border-radius: 50%;}

.mt20{margin-top: 20px;}

.centrar-bloque{
  display: block;
  margin: 0 auto;
}

.parallax{
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.img-header{
  background-image: url(../img/ssgss_goku.png);
}

.parallax h1 {
  margin: 0;
  padding: 0;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40vh;
  text-shadow: 2px 5px 2px #34495e, 5px 2px 2px #fff;
}

.banner {
  height: 200px;
  background-image: url(../img/nyc_strip-1.jpg);
}

.banner h2 {
  color: #3498db;
  text-shadow: 2px 2px 2px #34495e;
  font-size: 2.5em;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  top: 40px;
}
