@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,400,500i');
/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/
body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

nav {
  background-color: #3498db;
  width: 100%;
  text-align: center;
  position: relative;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav > ul > li {float: left;}

nav ul li a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: whitesmoke;
  transition: all 300ms linear;
}

nav ul li a:hover{
  background-color: #34495e;
}

/*SUBMENU*/
nav ul li div {
  width: 100%;
  position: absolute;
  background-color: #0d47a1;
  left: 0;
  /*display: none;*/
  transition: all 700ms linear;
  opacity: 0;
  top: -550px;
  display: table;
  z-index: -1;
}

nav > ul > li:hover div {
  display: table;
  opacity: 1;
  top: 40px;
  z-index: -1;
}

nav ul li div ul {
  width: 1%;
  display: table-cell;
  box-sizing: border-box;
  border-right: 2px solid #0097a7;
}

nav ul li div ul:last-child{border: none;}

nav ul li div ul .titulo {
  padding: 10px 20px;
  background-color: #212121;
}

nav ul li div ul .titulo a{
  text-transform: uppercase;
  font-size: 1.1em;
}

nav ul li div ul .titulo a:hover{
  background-color: transparent;
  cursor: default;
}

.icon{
  font-size: 1.6em;
  vertical-align: middle;
  transition: all 350ms linear;
}

a:hover .icon{
  color: #f57f17;
}
