.caja {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background-color:#3498db;
  border: 10px solid #34495e;
  color: #34495e;
  margin-bottom: 20px;
  line-height: 160px;
  font-size: 40px;
  text-align: center;
  font-family: arial;
}

#caja1{
  position: static;
}

#caja2{
  position: relative;
  top: 20px;
  left: 500px;
}

#caja3{
  position: absolute;
  top: 500px;
  left: 500px;
}

#caja4{
  position: fixed;
  right: 0;
  bottom: 0;
}

#caja5{
  position: relative;
}

.caja-peq{
  width: 60px;
  height: 60px;
  background-color: #8e44ad;
  line-height: 55px;
  padding: 20px;

  position: absolute;
  top: 40px;
  left: 100%;
}
